<div class="row">
  <table>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Language</th>
        <th scope="col">counter</th>
      </tr>
    </thead>

  <tbody>
    {{#each database}}
    <tr>
      <td>{{users_greeted}}</td>
      <td>{{user_language}}</td>
      <td>{{counter}}</td>
    </tr>
  {{/each}}
  </tbody>
  </table>
  <a href ="/reset">home</a>
</div>
