<div class="row">
  <table class="table-bordered">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">Greeted languages</th>
      {{!-- <th scope="col">counter</th> --}}
      
    </tr>
  </thead>
  <tbody>
    {{#each database}}
    <tr>
      <td><a href="/counter/{{users_greeted}}">{{users_greeted}}</a></td>
      <td>{{user_language}}</td>
      {{!-- <td>{{counter}}</td> --}}
    </tr>
  {{/each}}
  </tbody>
  </table>
  <a href ="/">home</a>
</div>
